
.formBackground {
  position: fixed;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.newTODOForm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 20;
  background: white;
  border: 1px solid #0054fc;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  width: 80%;
  height: 320px;
  padding: 0px 10px;
  top: 10vh;
  border-radius: 5px;
}
.newTODOForm h2 {

  color: #0066ff;
  text-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.3);
}

.formTextarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 400;
  padding: 10px;
  font-size: 16px;
  width: 94%;
  height: 150px;
  border: none;
  color: #003ca3;
  border-radius: 5px;
  background-color: #e5eefc; ;
  resize: none; /* Evita que el usuario pueda redimensionar la textarea */
  margin-bottom: 15px;
}
.formTextarea:focus {
  border: 1px solid #0054fc;
  background-color: #fff8fe ;
  outline: none; /* Elimina el borde adicional de enfoque */
}

.buttonFormContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cancelButton {
  font-size: 20px;
  font-weight: 400;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #f76576;
  box-shadow: 0 5px rgb(177, 74, 74);
  text-shadow: #3b3b3b 0.5px 0.5px 1px;
}
.cancelButton:hover {
  box-shadow: 0 3px #d90429;
  background: #ef233c;
  top: 1px;
}
.cancelButton:active {
  box-shadow: 0 0 #d90429;
  background: #ef233c;
  top: 5px;
}

.confirmButton {
  font-size: 20px;
  font-weight: 400;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px #3ea3af;
  background: #02daab;
  text-shadow: #464345 0.5px 0.5px 1px;
}
.confirmButton:hover {
  box-shadow: 0 3px #3ea3af;
  background: #0cd1a6;
  top: 1px;
}
.confirmButton:active {
  box-shadow: 0 0 #3ea3af;
  top: 5px;
}
