input {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom_input {
	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
	position: relative;
	max-width: 80%;
}

.input {
	font-size: 18px;
	padding: 5px 10px;
	width: 100%;
	padding-left: 35px;
	outline: none;
	background: #ffffffbb;
	color: #000000;
	border: 1px solid #c4d1eb00;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 0px #7ca8d4;
	transition: .3s ease;
}

.input:focus {
	background: #FFFF;
	border: 1px solid #00eeff;
	border-radius: 25px;
    text-shadow: none;
}

.input::placeholder {
	color: #ffffff;
    font-weight: 400;
}

.svg_icon {
	position: absolute;
	left: 10px;
	fill: #0099ff;
	width: 18px;
	height: 18px;
}