.css-button-arrow--green {
    
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgb(159, 236, 42);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }

  .css-button-arrow--green:active {
    background-color: #45a049;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
  }
  .css-button-arrow--green:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .css-button-arrow--green:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--green:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }
  