.App {
  text-align: center;
  background-color: #003ca3;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
text-align: -webkit-center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #585268;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noMatch {
  /* font-size: 24px; */
  color: #bd1b43
}

.triangle {
  position: relative;
  background: white;
}
/* 
.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #0066ff transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
} */

.toolsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: #bd1b43; */
  padding: 0px 0px 0px 0px;
  min-height: 50px;
  margin: 1% 8%;
  /* width: 85%; */
}
.selectToolContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: #585268; */

}

@media screen and (max-width: 50em) {
  .toolsContainer {
    display: flex;
    flex-direction: column;
  }
  .selectToolContainer {
    width: 100%;
  }
  
}